<aside
  [ngClass]="{
    'w-[250px]': (showSidebar$ | async) === true,
    'w-[100px]': (showSidebar$ | async) === false
  }"
  class="h-screen transition-all duration-500 bg-light p-8 shadow-md flex flex-col items-center gap-16 z-auto"
>
  <section class="flex flex-col justify-center items-center gap-5">
    <img
      src="https://media.englishbay.com.br/default.jpg"
      [ngClass]="{
        'w-28 h-28': (showSidebar$ | async) === true,
        'w-20 h-[3rem]': (showSidebar$ | async) === false
      }"
      class="rounded-full"
      alt="photo"
    />
    <h1
      *ngIf="showSidebar$ | async"
      class="flex flex-row gap-2 items-center text-sm text-secondary text-opacity-[0.8] bg-primary bg-opacity-5 px-6 py-1 rounded-md transition-all duration-500"
    >
      <span class="w-4 h-4 bg-primary bg-opacity-[0.8] rounded-full"></span>
      C1 - Advanced
    </h1>
  </section>
  <nav
    class="flex flex-col gap-6 font-medium text-primary text-[16px] cursor-pointer"
  >
    @for (navLink of navLinks; track $index) {
    <a
      [routerLink]="[navLink.path]"
      [routerLinkActive]="['active']"
      class="hover:text-secondary active:text-secondary transition-all flex flex-row gap-4 items-center justify-start"
    >
      <i class="{{ navLink.icon }} text-[23px]"></i>
      <span *ngIf="showSidebar$ | async">{{ navLink.label }}</span>
    </a>
    }
  </nav>
  <div
    (click)="toggleSidebar()"
    [ngClass]="{
          'left-[15.5rem]': (showSidebar$ | async) === true,
          'left-[6.5rem]': (showSidebar$ | async) === false,
        }"
    class="flex justify-center items-center absolute top-32 transition-all duration-500 transform -translate-x-1/2 bg-primary rounded-full w-8 h-8 text-light p-1 cursor-pointer"
  >
    <i class="pi pi-chevron-left"></i>
  </div>
</aside>
