<aside
  [ngClass]="{
    'w-[250px]': !isNavBarOpened(),
    'w-[100px]': isNavBarOpened(),
  }"
  class="h-screen transition-all duration-200 bg-light p-8 shadow-2xl flex flex-col gap-16"
>
  <section class="flex flex-col justify-center items-center gap-5">
    <img
      src="/user.png"
      [ngClass]="{
        'w-28 h-28': !isNavBarOpened(),
        'w-20 h-[2.5rem]': isNavBarOpened(),
      }"
      class="rounded-full"
      alt="photo"
    />
    <h1
      *ngIf="!isNavBarOpened()"
      class="flex flex-row gap-2 items-center font-heading text-sm text-primary text-opacity-[0.8] bg-primary bg-opacity-5 px-6 py-1 rounded-md transition-all duration-200"
    >
      <span
        class="flex justify-center text-light font-bold items-center w-4 h-4 bg-primary bg-opacity-[0.8] clip-hexagon2 rounded-full p-4"
        >C1</span
      >
      C1 - Advanced
    </h1>
  </section>
  <nav
    class="flex flex-col gap-6 font-medium text-secondary text-[16px] cursor-pointer"
  >
    @for (navLink of navLinks; track $index) {
    <a
      (click)="setActiveTab(navLink)"
      [routerLink]="[navLink.path]"
      [routerLinkActive]="['active']"
      [ngClass]="{
        'text-primary ': navLink.active,
        'text-secondary': !navLink.active
      }"
      class="hover:text-primary active:text-primary transition-all flex flex-row gap-4"
    >
      <i class="{{ navLink.icon }} text-[28px]"></i>
      <span
        *ngIf="!isNavBarOpened()"
        class="font-heading text-[17px] font-bold"
        >{{ navLink.label }}</span
      >
    </a>
    }
  </nav>
  <div
    [ngClass]="{
      'left-[6.5rem] ': isNavBarOpened(),
      'left-[15.5rem] ': !isNavBarOpened(),
    }"
    (click)="toggleSidebar()"
    class="flex justify-center items-center absolute top-[10.5rem] transition-all duration-200 transform -translate-x-1/2 bg-primary clip-hexagon2 rounded-full w-8 h-8 text-light p-5 cursor-pointer"
  >
    <i
      [ngClass]="getSideBarIcon()"
      class="font-bold text-[16px] transition-all"
    ></i>
  </div>
</aside>
