<div class="p-6 font-heading">
  <h1 class="font-bold text-[22px] pl-10">Modificação da Senha</h1>
  <div class="mt-5 flex justify-center gap-3 px-10">
    <div class="w-4/12 h-full bg-light rounded-md p-10 text-[15px]">
      <div class="flex flex-row items-center gap-4">
        <img src="/icons/no_user.png" alt="no_user" />
        <span class="text-[15px]">Minha conta</span>
      </div>
      <p class="mt-5 break-words">
        Altere as configurações e confira suas notificações
      </p>
      <a
        href="/change-password"
        class="flex justify-between gap-4 items-center mt-10"
      >
        <span>Configurar perfil</span>
        <i class="pi pi-arrow-right"></i>
      </a>
      <a href="/public" class="flex justify-between gap-4 items-center mt-3">
        <span class="text-primary font-semibold">Alterar a senha</span>
        <i class="pi pi-arrow-right"></i>
      </a>
      <a href="/public" class="flex justify-between gap-4 items-center mt-3">
        <span pan>Notificações</span>
        <i class="pi pi-arrow-right"></i>
      </a>
    </div>
    <!-- change passwarod section -->
    <div class="w-8/12 flex flex-col gap-4 bg-light shadow-sm p-4">
      <h1 class="mb-3 text-[15px]">Escolha uma nova senha</h1>
      <input
        class="border-2 border-dark border-opacity-20 w-full p-4 rounded-md focus:border-primary focus:outline-none"
        type="text"
        placeholder="Senha actual"
      />
      <input
        class="border-2 border-dark border-opacity-20 w-full p-4 rounded-md focus:border-primary focus:outline-none"
        type="text"
        placeholder="Senha nova"
      />
      <input
        class="border-2 border-dark border-opacity-20 w-full p-4 rounded-md focus:border-primary focus:outline-none"
        type="text"
        placeholder="Confirmar senha nova"
      />

      <div class="flex justify-start gap-10 mt-8 transition-all">
        <a
          class="bg-primary rounded-lg px-5 py-2 text-light cursor-pointer hover:bg-light hover:text-primary hover:border-primary hover:border-2"
          >Salvar alterações</a
        >
        <a
          class="bg-light border-2 rounded-lg px-5 py-2 text-primary cursor-pointer hover:bg-primary hover:text-light hover:border-light hover:border-2"
          >Descartar alterações</a
        >
      </div>
    </div>
  </div>
</div>
