<header class="header">
  <div class="flex justify-start items-center gap-3">
    <div class="back-button">
      <div class="flex justify-between">
        <i class="pi pi-arrow-left text-[18px] font-bold px-2"></i>
        <span>Voltar</span>
      </div>
    </div>
    <div class="navigation p-2 font-bold">
      <span class="font-bold text-black text-[18px]">Início</span>
      <i class="pi pi-chevron-right px-3"></i>
      <span class="font-bold text-black text-[18px]">Cursos</span>
    </div>
  </div>
  <div class="flex justify-between">
    <div class="profile">
      <img
        src="https://media.englishbay.com.br/default.jpg"
        alt="Profile Icon"
      />
      <span>Helder</span>
      <i class="pi pi-chevron-down px-2"></i>
      <i class="pi pi-sign-out pl-8"></i>
    </div>
  </div>
</header>
