<header class="flex justify-between bg-secondary shadow-md z-30 p-6">
  <nav class="flex flex-row gap-4 items-center">
    <i
      class="group pi pi-arrow-left text-secondary bg-primary bg-opacity-[0.1] text-opacity-[0.5] p-3 rounded-md"
    ></i>
    <div>Voltar</div>
    <div class="w-[0.5px] h-full bg-primary bg-opacity-[0.1]"></div>
    <div class="flex flex-row gap-2 font-semibold items-center">
      <div>Inicio</div>
      <i
        class="pi pi-chevron-right text-xs text-secondary group-hover:text-primary"
      ></i>
      <div>Cursos</div>
    </div>
  </nav>
  <div class="flex flex-row justify-between items-center gap-16">
    <div class="flex flex-row items-center gap-2">
      <img
        src="https://media.englishbay.com.br/default.jpg"
        class="w-14 h-[3rem] rounded-full"
        alt="user-photo"
      />
      <span class="font-semibold">Helder</span>
    </div>
    <i class="pi pi-sign-out"></i>
  </div>
</header>
