.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  .back-button button {
    background: none;
    border: none;
    color: #5807b8;
    font-size: 16px;
    cursor: pointer;
  }
  .navigation {
    font-size: 14px;
    color: #9e9e9e;
  }
  .profile {
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
      margin-right: 10px;
      width: 50px;
    }
    span {
      font-weight: bold;
    }
  }
}
