<div class="px-12 py-8 font-heading">
  <!-- Welcome Message -->
  <div class="text-2xl flex items-center">
    Seja Bem-Vindo, <span class="text-purple-600 font-bold ml-2">Aluno</span>
    <span class="ml-2">👋</span>
  </div>

  <!-- Level  dropdown -->
  <div class="flex justify-start items-center gap-2 mt-5 text-[16px]">
    <span class="text-[20px]">Nivel</span>
    <div
      class="flex gap-5 bg-primary rounded-2xl px-5 py-2 text-light font-bold"
    >
      <span>C1 - Advanced </span> <i class="pi pi-chevron-down"></i>
    </div>
  </div>

  <!-- level slider progress -->
  <div
    class="flex justify-start items-center gap-0 bg-dark bg-opacity-20 h-2 w-7/12 border-dark rounded-lg mt-6"
  >
    <div class="bg-success w-6/12 h-2"></div>
    <div
      class="flex items-center justify-center p-4 text-light font-bold bg-success h-7 w-7 rounded-full"
    >
      75%
    </div>
  </div>

  <!-- content List -->
  <section class="grid grid-cols-12 gap-4 justify-center mt-10">
    <!-- units section -->
    <div class="col-span-7 font-heading units">
      <div class="flex justify-between">
        <h2 class="text-dark text-md font-bold mb-4">Unidades</h2>
        <h2 class="text-dark text-md font-bold mb-4">1/{{ unities.length }}</h2>
      </div>
      <div
        class="flex flex-col gap-2 bg-light border-dark border-opacity-20 border-solid border-[1px] rounded-2xl p-3 shadow-md"
      >
        <div
          (click)="onClick(modalContent, 'l')"
          [ngClass]="item.status == 'reading' ? 'bg-accent bg-opacity-10' : ''"
          *ngFor="let item of unities; let i = index"
          class="flex flex-row items-center gap-3 text-[14px] hover:bg-accent hover:bg-opacity-10 p-2 transition-all rounded-3xl cursor-pointer"
        >
          <div
            [ngClass]="
              item.status == 'done'
                ? 'border-success'
                : item.status == 'lock'
                ? 'border-dark border-opacity-25'
                : 'border-primary'
            "
            class="rounded-full border-4 h-20 w-20 p-1"
          >
            <div
              [ngClass]="
                item.status == 'done'
                  ? 'bg-success'
                  : item.status == 'lock'
                  ? 'bg-dark bg-opacity-25'
                  : 'bg-primary'
              "
              class="flex items-center justify-center border-light w-full h-full rounded-full"
            >
              <div>
                <i
                  [ngClass]="
                    item.status == 'done'
                      ? 'pi pi-check'
                      : item.status == 'lock'
                      ? 'pi pi-lock'
                      : 'pi pi-book'
                  "
                  class="text-light text-[30px]"
                ></i>
              </div>
            </div>
          </div>
          <div class="flex flex-col">
            <div class="flex flex-row gap-2">
              <h1 class="text-success font-bold">{{ item.title }}</h1>
              <div class="flex flex-row gap-1">
                <i class="pi pi-star-fill text-warning"></i>
                <i class="pi pi-star-fill text-warning"></i>
                <i class="pi pi-star-fill text-warning"></i>
              </div>
            </div>
            <p>{{ item.description }}</p>
            <p>Concluida</p>
          </div>
        </div>
      </div>
    </div>

    <!-- notifications section -->
    <div
      class="col-span-5 bg-light border-dark border-opacity-20 border-solid border-[1px] rounded-2xl p-3 shadow-md mt-8"
    >
      <div class="flex justify-between font-bold">
        <h1 class="text-lg">Agenda</h1>
        <a
          href=""
          class="bg-primary bg-opacity-80 px-4 py-[2px] text-light rounded-lg"
          >Ver tudo</a
        >
      </div>
      <div class="flex justify-start items-center gap-4 mt-5">
        <i class="pi pi-clone"></i>
        <span>Ultimas notificacoes</span>
      </div>

      <!-- notifications -->
      <div
        *ngFor="let item of unities"
        class="flex justify-between mt-2 bg-primary bg-opacity-20 rounded-md px-3 py-[4px]"
      >
        <div class="flex flex-col">
          <div class="flex justify-between">
            <span class="text-primary font-bold">
              Live Class - Teacher Mr. beto</span
            >
          </div>
          <div class="flex justify-between mt-2 text-dark">
            <span>Quando</span>
            <span>Hora</span>
          </div>
          <div class="flex justify-between text-primary">
            <span>Quarta-feira, 10 de Julho</span>
            <span>20:00</span>
          </div>
        </div>
        <div class="flex flex-col justify-between">
          <div class="flex items-center">
            <!-- Each image with a negative margin to overlap -->
            <img
              src="/user.png"
              class="w-8 h-8 rounded-full border-2 border-light -ml-2"
              alt="User 1"
            />
            <img
              src="/user.png"
              class="w-8 h-8 rounded-full border-2 border-light -ml-2"
              alt="User 2"
            />
            <img
              src="/user.png"
              class="w-8 h-8 rounded-full border-2 border-light -ml-2"
              alt="User 3"
            />
            <img
              src="/user.png"
              class="w-8 h-8 rounded-full border-2 border-light -ml-2"
              alt="User 4"
            />

            <!-- Number of additional users -->
            <span class="ml-2">+17</span>
          </div>
          <div></div>
        </div>
      </div>

      <div
        class="flex flex-row justify-center items-center gap-4 mt-3 text-[14px]"
      >
        <i class="pi pi-chevron-left"></i>
        <span class="bg-primary bg-opacity-20 px-3 py-2 rounded-md">1</span>
        <span>2</span>
        <span>3</span>
        <i class="pi pi-chevron-right"></i>
      </div>
    </div>
  </section>
</div>

<!-- Modal Component -->
<ng-template class="bg-primary" #modalContent let-observer>
  <div class="main content">
    <!-- Header -->
    <div class="flex items-center space-x-3 mb-4">
      <app-circular-level label="C1" size="20" />
      <div class="flex flex-col gap-2">
        <p class="text-[22px] font-normal mb-1">Advanced</p>
        <p class="text-[22px] font-bold">52 unidades neste módulo</p>
        <div
          class="flex justify-start items-center w-full mt-2 bg-dark bg-opacity-10 rounded-3xl h-2"
        >
          <div class="w-6/12 bg-success rounded-3xl h-2"></div>
        </div>
      </div>
    </div>

    <!-- Progress Bar -->
    <div class="w-full bg-gray-200 rounded-full h-2 mb-4">
      <div class="bg-green-500 h-2 rounded-full" style="width: 50%"></div>
    </div>

    <!-- Levels Grid -->
    <div class="grid grid-cols-2 gap-4">
      <!-- Level Items -->
      <div
        *ngFor="let item of items"
        class="flex justify-start gap-6 items-center"
      >
        <app-circular-level
          label="{{ item.label }}"
          status="{{ item.status }}"
          size="16"
        />
        <div class="flex flex-col justify-between items-center gap-1">
          <div class="flex justify-between items-center gap-2">
            <div>
              <p class="text-lg">{{ item.title }}</p>
              <p class="font-semibold">{{ item.description }}</p>
            </div>
            <i
              *ngIf="item.status == 'lock'"
              class="pi pi-lock text-[30px] text-dark text-opacity-35"
            ></i>
          </div>
          <div
            class="flex justify-start items-center w-full mt-2 bg-dark bg-opacity-10 rounded-3xl h-2"
          ></div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
