.welcome-page {
  padding: 20px;

  .header {
    h1 {
      font-size: 2rem;
      span.user-name {
        color: #5807b8;
        font-weight: bold;
      }
    }

    p {
      font-size: 1rem;
      color: #666;
    }
  }

  .level-info {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .level-select {
      display: flex;
      align-items: center;
      margin-right: 20px;

      label {
        margin-right: 10px;
        font-weight: bold;
        color: #5807b8;
      }

      select {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
    }

    .progress-bar {
      flex-grow: 1;
      background-color: #eee;
      border-radius: 5px;
      overflow: hidden;

      .progress {
        height: 10px;
        background-color: #5807b8;
      }
    }
  }

  .promo-banner {
    background-color: #5807b8;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;

    .promo-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .premium-link {
        font-weight: bold;
        color: #ffca28;
        cursor: pointer;
      }
    }
  }

  .units {
    margin-top: 30px;

    h3 {
      font-weight: bold;
      color: #5807b8;
    }

    .unit-list {
      margin-top: 10px;

      .unit {
        background-color: white;
        padding: 20px;
        margin-bottom: 10px;
        border-radius: 10px;
        border-left: 5px solid #5807b8;

        .unit-header {
          display: flex;
          align-items: center;

          .unit-icon {
            background-color: rgb(88, 204, 2);
            border-radius: 50%;
            padding: 20px;
            color: #fff;
            margin-right: 20px;
          }

          .unit-title {
            h4 {
              color: green;
              margin: 0;
              font-weight: bold;
            }

            p {
              margin: 5px 0;
              color: #666;
            }

            span {
              color: #666;
            }
          }
        }
      }
    }
  }
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 200px;
}

.custom-select {
  position: relative;
  display: block;
  background-color: #f3f3f3;
  border: 2px solid #5807b8;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.custom-select-trigger {
  display: block;
  font-size: 16px;
  color: #333;
}

.custom-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: 2px solid #5807b8;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}

.custom-option {
  padding: 10px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.custom-option:hover {
  background-color: #6200ea;
  color: #ffffff;
}

.custom-select.open .custom-options {
  display: block;
}
