<div class="p-5 font-heading">
  <section class="flex justify-between bg-light shadow-lg p-3">
    <div class="flex flex-col gap-4">
      <div class="flex justify-between">
        <h1 class="text-[18px] flex gap-3 items-center">
          <i class="pi pi-book clip-hexagon bg-primary text-light p-4"></i>
          <span class="font-bold">Aula 02:</span> Adjectives and Nouns
        </h1>
        <div class="flex text-[15px]">
          <a
            href="https://st-andrews.net/"
            target="_blank"
            class="flex items-center gap-3 bg-primary text-nowrap rounded-lg h-10 px-8 text-light font-bold"
            ><span>Link da aula </span><i class="pi pi-external-link"></i
          ></a>
        </div>
      </div>
      <p class="text-[14px] text-dark text-opacity-70">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque
        repellat non molestias esse dolore illum, velit, fuga modi in dicta
        rerum odio accusamus perferendis possimus excepturi quia magnam aliquid
        iure.
      </p>
      <div class="flex gap-10 text-[15px]">
        <div><span class="font-bold">Professor</span>: Carlos Morias</div>
        <div><span class="font-bold">Data</span>: 25-04-2024 12:30min</div>
        <div><span class="font-bold">Modelo</span>: Online</div>
      </div>
    </div>
  </section>
  <div class="m-20"></div>
  <section class="mt-3 text-[15px]">
    <div
      *ngFor="let material of materials$ | async"
      class="flex justify-between bg-light rounded-lg m-4 hover:bg-primary hover:bg-opacity-[4%] transition-all cursor-pointer"
    >
      <div class="flex justify-start items-center gap-6 p-9">
        <i class="pi pi-book clip-hexagon bg-primary text-light p-4"></i>
        <div>
          <h1 class="font-bold text-[18px] mb-1">{{ material.title }}</h1>
          <span class="text-dark text-opacity-45">Licao concluida</span>
        </div>
      </div>
      <div
        class="flex justify-center items-center bg-primary bg-opacity-[0.2] rounded-r-lg px-5 py-6 text-light"
      >
        <i
          [ngClass]="getMaterialIconBasedOnType(material.type)"
          class="text-primary text-[20px]"
        ></i>
      </div>
    </div>
  </section>
</div>
