<div
  class="absolute left-1/2 transition-all transform -translate-x-1/2 mt-5 bg-neutral-50 border border-background shadow-lg rounded-lg p-4 w-64 z-50 font-heading"
>
  <div class="relative">
    <div
      class="absolute -top-2 left-1/2 transform -translate-x-1/2 w-0 h-0 border-l-8 border-r-8 border-b-8 border-transparent border-b-white"
    ></div>
    <!-- Overlay Content -->
    <nav class="flex flex-col font-semibold gap-3 text-[16px] text-primary-600">
      <a routerLink="/profile">Informação da conta</a>
      <a routerLink="/change-password">Alterar senha</a>
      <a routerLink="/notifications">Notificações</a>
      <a routerLink="/">Avaliações</a>
    </nav>
  </div>
</div>
