<div class="profile-settings m-5 flex justify-center">
  <!-- <div class="sidebar">
    <h2>Minha Conta</h2>
    <ul>
      <li class="text-[15px]">
        Altere as configurações e confira suas notificações
      </li>
      <li class="text-[13px] font-semibold">
        <a routerLink="/profile-settings">Configurações do Perfil</a>
      </li>
      <li class="text-[13px] font-semibold">
        <a routerLink="/change-password">Alterar senha</a>
      </li>
      <li class="text-[13px] font-semibold">
        <a routerLink="/notifications">Notificações</a>
      </li>
    </ul>
  </div> -->

  <div class="profile-content">
    <h3>Configurações do perfil</h3>
    <p>Você pode alterar as informações básicas da sua conta</p>

    <div class="profile-header">
      <div class="profile-info bg-white">
        <img
          src="https://media.englishbay.com.br/default.jpg"
          alt="Profile Image"
        />
        <h4 class="font-bold">Helder Santiago</h4>
        <p>heldersantiago273&#64;gmail.com</p>
      </div>
    </div>

    <div class="profile-details">
      <h4  class="font-bold">Sobre você</h4>
      <form>
        <div class="form-group">
          <label>Nome Completo</label>
          <input type="text" value="Helder Santiago" />
        </div>
        <div class="form-group">
          <label>Data de nascimento</label>
          <input type="text" placeholder="mm/dd/yyyy" />
        </div>
        <div class="form-group">
          <label>Telefone</label>
          <input type="text" value="+244 927 871 797" />
        </div>
        <div class="form-group">
          <label>Fuso Horário</label>
          <select>
            <option>(GMT-03:00) Brasília</option>
            <!-- Other options -->
          </select>
        </div>
        <div class="form-group">
          <label>ID Skype</label>
          <input type="text" placeholder="ID SKYPE" />
        </div>
        <div class="form-group">
          <label>E-mail</label>
          <input type="email" value="heldersantiago273@gmail.com" />
        </div>

        <div class="form-actions">
          <button type="submit" class="save">Salvar alterações</button>
          <button type="button" class="discard">Descartar alterações</button>
          <button type="button" class="delete">Deletar conta</button>
        </div>
      </form>
    </div>
  </div>
</div>
