<div class="p-5 m-5 font-heading">
  <section class="flex justify-between w-full shadow-md px-5">
    <p
      class="text-[16px] border-primary text-secondary border-b-[3px] cursor-pointer"
    >
      Todas os eventos
    </p>
    <div class="flex justify-between gap-4 p-2 cursor-pointer">
      <i
        class="pi pi-search border-[1px] border-dark p-3 border-opacity-20 rounded-md"
      ></i>
      <i
        class="pi pi-filter border-[1px] border-dark p-3 border-opacity-20 rounded-md"
      ></i>
    </div>
  </section>
  <section class="mt-10">
    <div
      *ngFor="let item of events"
      class="flex flex-row justify-between items-center border-primary shadow-lg rounded-2xl p-10"
    >
      <div
        class="flex flex-col justify-center items-center text-[14px] font-bold text-secondary"
      >
        <span>OUT</span>
        <span class="font-extrabold">27</span>
        <span>2024</span>
      </div>
      <div class="flex flex-col gap-1">
        <h1 class="text-[18px] font-bold">Meeting with Foreigner Speakers</h1>
        <span>Nivel: Iniciante</span>
        <div class="flex justify-between gap-2 text-[13px]">
          <div class="flex justify-center items-center gap-2">
            <i class="pi pi-map-marker"></i>
            <span>Local: Mutamba</span>
          </div>
          <div class="flex justify-center items-center gap-2">
            <i class="pi pi-clock"></i>
            <span>Hora: 19:00</span>
          </div>
        </div>
      </div>
      <div
        (click)="open.set(!open())"
        class="border-[1px] rounded-md border-primary px-12 py-3 text-secondary cursor-pointer"
      >
        <span>Ver o evento</span>
      </div>
    </div>
  </section>

  <section>
    <tui-drawer *tuiPopup="open()">
      <div class="max-w-sm mx-auto p-6 bg-white rounded-lg">
        <div class="flex justify-between text-[16px]">
          <h1>Detalhes do Evento</h1>
          <i
            (click)="open.set(false)"
            class="pi pi-times text-secondary cursor-pointer transform transition-transform duration-300 hover:rotate-90"
          >
          </i>
        </div>
        <h2 class="text-xl font-bold mb-2 mt-10">
          Meeting with Foreigner Speakers
        </h2>
        <p class="text-gray-600 mb-4">Nível: Beginner</p>

        <!-- Data e horário -->
        <div class="flex items-center mb-4 text-[16px]">
          <i class="pi pi-calendar text-[25px] mr-4"></i>
          <div>
            <p class="font-bold">Quarta-feira, 27 de outubro</p>
            <p class="text-gray-500">Início às 19:00</p>
          </div>
        </div>

        <!-- Público destinado -->
        <div class="flex items-center mb-4 text-[16px]">
          <i class="pi pi-users text-[25px] text-gray-500 mr-4"></i>
          <div>
            <p class="font-bold">Público destinado</p>
            <p class="text-gray-500">Para Estudantes</p>
          </div>
        </div>

        <!-- Participantes -->
        <div class="flex items-center mb-4 text-[16px]">
          <i class="pi pi-user text-[25px] text-gray-500 mr-4"></i>
          <div>
            <p class="font-bold">Participantes</p>
            <p class="text-gray-500">8 confirmaram presença</p>
          </div>
        </div>

        <!-- Organizador -->
        <div class="border-t pt-4 mt-4">
          <p class="font-medium">Organizador</p>
          <div class="flex items-center mt-2">
            <div
              class="w-8 h-8 bg-primary text-light rounded-full flex items-center justify-center mr-2"
            >
              A
            </div>
            <div>
              <p class="font-medium">ST ANDREWS</p>
              <p class="text-gray-500">Educação</p>
            </div>
          </div>
        </div>

        <!-- Botão de participação -->
        <button
          class="w-full mt-6 bg-primary text-light font-bold py-4 rounded-lg hover:bg-purple-700"
        >
          Quero Participar
        </button>
      </div>
    </tui-drawer>
  </section>
</div>
