<div class="p-5 m-5 font-heading">
  <section class="flex justify-between w-full shadow-md px-5">
    <p class="text-[16px] border-primary text-secondary border-b-[3px] cursor-pointer">
      Todas as aulas
    </p>
    <p class="text-[16px] cursor-pointer">Favoritos</p>
    <div class="flex justify-between gap-4 p-2 cursor-pointer">
      <i
        class="pi pi-search border-[1px] border-dark p-3 border-opacity-20 rounded-md"
      ></i>
      <i
        class="pi pi-filter border-[1px] border-dark p-3 border-opacity-20 rounded-md"
      ></i>
    </div>
  </section>
  <section class="flex justify-between mt-5">
    <h1 class="text-[20px]">Você possui 0 aulas agendadas</h1>
    <div class="flex justify-between gap-2 text-[16px]">
      <i class="pi pi-chevron-left"></i>
      <i class="pi pi-chevron-right text-secondary"></i>
    </div>
  </section>
  <section>
    <div
      class="flex flex-row mt-10 relative border-dashed border-2 border-dark border-opacity-70 w-60 h-60 rounded-3xl cursor-pointer hover:bg-accent hover:bg-opacity-5 transition-all"
    >
      <div class="flex flex-col justify-center items-start w-full gap-3 p-2">
        <i class="pi pi-youtube text-[60px] ml-2 text-secondary"></i>
        <p class="text-[18px] break-words whitespace-normal p-2">
          Agenda Aqui <br />
          A Sua Próxima Aula
        </p>
        <div
          class="flex justify-between mt-10 items-center gap-20 font-bold text-secondary text-[14px]"
        >
          <span>Agendar agora</span>
          <i class="pi pi-arrow-right"></i>
        </div>
      </div>
    </div>
  </section>

  <h1 class="text-[20px] mt-20">Histórico de Aulas</h1>
  <h1 class="text-[14px] mt-1">Você ainda não tem histórico de aulas</h1>
</div>
