.layout {
  display: flex;
  background: #f5f5f5;

  .main-section {
    flex-grow: 1;
    margin-left: 250px; /* Account for the fixed sidebar width */
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling for main content */
  }
}
