.sidebar {
  width: 250px;
  height: 100vh; /* Full height of the viewport */
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  position: fixed; /* Sidebar stays in place when scrolling */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Space between profile and menu */

    img {
      border-radius: 50%;
      margin-right: 10px;
      width: 140px;
    }

    span {
      font-weight: 800px;
      color: #7e57c2;
      background: #f9f8fa;
      padding: 5px;
      border-radius: 5px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 15px 0;

      a {
        text-decoration: none;
        color: #b3b0c0;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;

        &:hover {
          background-color: #eee;
          color: #7e57c2;
        }

        /* Icons */
        img {
          margin-right: 10px;
        }
      }
    }
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #7e57c2;
  border-radius: 1px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
