<nav class="sidebar">
  <div class="profile">
    <img src="https://media.englishbay.com.br/default.jpg" alt="Profile Icon" />
    <span class="pt-3">C2 - Avançado</span>
  </div>
  <ul>
    <li>
      <a href="#" class="flex justify-start gap-2 items-center">
        <i class="pi pi-th-large"></i> <span>Início</span></a
      >
    </li>
    <li>
      <a href="#" class="flex justify-start gap-2 items-center">
        <i class="pi pi-book"></i> <span>Cursos</span></a
      >
    </li>
    <li>
      <a href="#" class="flex justify-start gap-2 items-center">
        <i class="pi pi-wallet"></i> <span>Minhas Aulas</span></a
      >
    </li>
    <li>
      <a href="#" class="flex justify-start gap-2 items-center">
        <i class="pi pi-users"></i> <span>Professores</span></a
      >
    </li>
    <li>
      <a href="#" class="flex justify-start gap-2 items-center">
        <i class="pi pi-wallet"></i> <span>Eventos</span></a
      >
    </li>
    <li>
      <a href="#" class="flex justify-start gap-2 items-center">
        <i class="pi pi-graduation-cap"></i> <span>Certificados</span></a
      >
    </li>
  </ul>
</nav>
