<tui-carousel
  [itemsCount]="items.length > 2 ? 2 : items.length"
  [(index)]="index"
  [draggable]="true"
>
  <ng-container *ngFor="let item of items">
    <div
      *tuiItem
      class="card flex flex-col gap-2 bg-accent rounded-lg w-80 h-60 text-light p-2"
    >
      <div class="card-header flex flex-row items-center gap-2">
        <img
          class="rounded-sm w-12 h-12"
          src="https://media.englishbay.com.br/f3727f34-c54b-46fa-a5d3-122eb03d4afc.jpg"
          alt="course"
        />
        <span class="font-bold">{{ item.label }}</span>
      </div>
      <div class="card-body text-[14px] text-light text-opacity-50 py-3 px-6">
        Curso de Ingles Elementary com 72 aulas em videos aulas e muito mais
      </div>
      <div class="card-level flex flex-row items-center gap-2 px-1">
        <span>0/72</span>
        <span class="bg-secondary bg-opacity-70 h-2 w-5/6 rounded-md"></span>
        <span>0%</span>
      </div>
      <span
        class="bg-secondary bg-opacity-30 h-[0.3px] w-full rounded-md px-10 my-3"
      ></span>
      <div class="card-next flex items-center justify-center">
        <a class="flex gap-4 items-center cursor-pointer">
          <span class="text-sm">Ir para o módulo</span>
          <i class="pi pi-arrow-right"></i>
        </a>
      </div>
    </div>
  </ng-container>
</tui-carousel>

<tui-pagination
  size="s"
  class="tui-space_top-4 mt-3 text-primary"
  [length]="items.length"
  [(index)]="index"
/>
