@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: static;
    overflow-y: visible;
  }

  .main-section {
    margin-left: 0;
  }
}
